.section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  width: 100%;
  position: absolute;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 80px;

    .navContainer {
      display: flex;
      justify-content: space-evenly;
      width: 1027px;

      .navLink {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.03em;
        text-align: left;
        padding: 8px;
      }

      .linksContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }

      .buttonGroup {
        .button, .button:last-of-type {
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.03em;
          text-align: left;
          padding: 8px;
          text-decoration: underline;
        }

        .button:last-of-type {
          border-left: 1px solid black;
        }

      }
    }
  }
}


