.section {
  background-image: url("../../../assets/img/Group 47225bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  //display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .container {
      display: flex;
      flex-direction: row;
      gap: 25px;
    }

    .sliderItem {
      margin: 0 100px;
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .button {
      background-color: black;
      border-radius: 50%;
      padding: 10px;
      border: none; /* Ensure there's no border */
      cursor: pointer; /* Change cursor to pointer for better UX */
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: grey; /* Change background on hover */
      }
    }

    .slick-arrow {
      z-index: 1; /* Ensure arrows are above other elements */
      width: 40px; /* Adjust the width */
      height: 40px; /* Adjust the height */
      display: flex; /* Ensure they are flex containers */
      justify-content: center;
      align-items: center;
    }


  }

}